@tailwind base;
@tailwind components;
@tailwind utilities;


.bg-image {
  background-image: url("/images/img1.webp");
}
.bg-gradient {
    background: -moz-linear-gradient(top, #9477b4 0%, #fc73b4 100%);
    background: -webkit-linear-gradient(top, #9477b4 0%, #fc73b4 100%);
    background: linear-gradient(to bottom, #9477b4 0%, #fc73b4 100%);

}